.button{
    padding: .8rem 1.5rem;
    font-size: .9rem;
    font-weight: 600;
    border-radius: .5rem;
    border: none;
    color: #999491;
    background: #332E2B;
}

.button:hover{
    background: #46403E;
    color: #E8E2E0;
}