.sidebar_wrapper{
    width: 30%;
    height: calc(100vh - 2rem);
    border-radius: 0 1rem 0 0;
    background: #110D0D;
    padding: 2rem;
    margin-top: 2rem;
}

.sidebar_wrapper h2{
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    font-family: "Wix Madefor Text", sans-serif;
    margin-bottom: 1rem;
}

